<!DOCTYPE html>
<html data-theme="cupcake"></html>
<head>

    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="mx-8 my-4 w-11/12 fixed z-50">
    <div class="navbar bg-base-100 rounded-box">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h8m-8 6h16"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a>Événements</a>
                        <ul class="p-2">
                            <li><a href="{{  path('evenement_list') }}">Liste des Événements</a></li>
                            <li><a href="{{  path('evenement_new') }}">Créer un Événement</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="{{ path('home') }}" class="btn btn-ghost text-xl">Vesouleries</a>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary>Événements</summary>
                        <ul class="p-2 rounded-t-none">
                            <li><a href="{{  path('evenement_list') }}">Liste des Événements</a></li>
                            <li><a href="{{  path('evenement_new') }}">Créer un Événement</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="navbar-end">
            {% if app.user %}
            <ul class="menu menu-horizontal px-1">
                <li>
                    <details>
                        <summary>
                            <div class="avatar">
                                <div class="rounded-full w-5 h-5 bg-green-400"></div>
                            </div>
                            {{ app.user.prenom }} {{ app.user.nom }}
                        </summary>
                        <ul class="p-2 rounded-t-none">
                            <li><a href="{{ path('profile') }}">Modifier le Profil</a></li>
                            <li><a>Inscriptions</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
            {% else %}
                <a href="{{ path('login') }}" class="btn">CONNEXION</a>
            {% endif %}
        </div>
    </div>
</div>


{% block body %}{% endblock %}
</body>
</html>